* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
body {
    font-family: "TT Lakes", "Arial", sans-serif;
    background-color: #EAEAEA;
    
}

.modal {
    display: none;
}


.header {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 25px;
        border-top: 2px solid #D9FFF5;
        background: linear-gradient(#F8F8F8 100%, #7E7E82 0.01%);
        color: #7E7E82;
        font-size: 16px;
        text-transform: uppercase;
    }

.swiper {
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 5px;
    padding-right: 5px;

}

.svg {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    background-image: url('./image/go.svg');
    margin-left: 150px;
    width: 40px;
    height: 40px;
}

.kart {
    background-repeat: no-repeat;
    background-position: left;
    width: 220px;
    height: 72px;
    border-radius: 5px;
}


.container--lenovo {
    background-image: url("./image/lenovo.png");
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    

}

.container--samsung {
    background-image: url("./image/samsung.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;

}

.container--apple {
    background-image: url("./image/apple.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;

}

.container--viewSonik {
    background-image: url("./image/viewSonic.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;

}

.container--bosch {
    background-image: url("./image/bosch.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.container--hp {
    background-image: url("./image/hp.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.container--acer {
    background-image: url("./image/acer.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.container--sony {
    background-image: url("./image/sony.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

@media (min-width: 320px) and (max-width: 767px) {

.logo {
    color: #7E7E82;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: #B5B6BC;
    width: 12px;
    height: 12px;
}
.buttons {
    display: none;
}
}
@media screen and (min-width: 768px) and (max-width: 1119px) {

    .swiper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: 0;
}

    .swiper-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding-left: 10px;
}

    .swiper-slide {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex: 1 1 calc(33.33% - 30px);
    }
/* flex: 1 1 calc(33.33% - 30px); 3 карточки в ряд */
    .swiper-pagination {
        display: none;
    }

    .container--acer {
        display: none;
    }
    .container--sony {
        display: none;
    }

    .buttons {
        margin-left: 15px;
        display: flex;
        gap: 5px;
    }

    a {
        line-height: 24px;
        color: #1B1C21;
        text-decoration: none;
        font-size: 16px;
    }

    .close {
        transform: rotate(180deg);
    }

    .modal-show {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 30px;
        margin-top: 0;
        padding-left: 0px;
    }

    .closesd {
        border: none;
    }
}


 @media screen and (min-width: 1120px) {

    .closesd {
        border: none;
    }

    .swiper-pagination {
        display: none;
    }
    .swiper {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-bottom: 0;
    }
    
    .swiper-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
        padding-left: 10px;
    }

    .swiper-slide {
        flex: 1 1 calc(25% - 10px);
        box-sizing: border-box;
        max-width: calc(25% - 20px); 
    }


    .buttons {
        margin-left: 15px;
        display: flex;
        gap: 5px;
    }

    a {
        line-height: 24px;
        color: #1B1C21;
        text-decoration: none;
        font-size: 16px;
    }

    .close {
        transform: rotate(180deg);
    }
    .modal-show {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 80px;
        padding-left: 0px;
    }

 }