* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "TT Lakes", "Arial", sans-serif;

}

.icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.as {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    background-image: url('./image/go.svg');
    margin-left: 180px;
    width: 40px;
    height: 40px;
}

.kart {
    background-repeat: no-repeat;
    background-position: left;
    width: 240px;
    height: 72px;
    border-radius: 5px;
}


.block_1120px--lenovo {
    background-image: url("./image/lenovo.png");
    border: 1px solid black;
    background-color: #F8F8F8;
    

}

.block_1120px--samsung {
    background-image: url("./image/samsung.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid black;

}

.block_1120px--apple {
    background-image: url("./image/apple.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid black;

}

.block_1120px--viewSonik {
    background-image: url("./image/viewSonic.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid black;

}

.block_1120px--bosch {
    background-image: url("./image/bosch.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid black;
}

.block_1120px--hp {
    background-image: url("./image/hp.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid black;
}

.block_1120px--acer {
    background-image: url("./image/acer.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid black;
}

.block_1120px--sony {
    background-image: url("./image/sony.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid black;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .logo {
        color: #7E7E82;
        margin-bottom: 50px;

    }
    .block_1120px {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .icon {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .kart {
        background-repeat: no-repeat;
        background-position: left;
        width: 240px;
        height: 72px;
        border-radius: 5px;
        
    }
    
    
    .block_1120px--lenovo {
        background-image: url("./image/lenovo.png");
        border: 1px solid black;
        background-color: #F8F8F8;
        
    
    }
    
    .block_1120px--samsung {
        background-image: url("./image/samsung.png");
        border: none;
        background-color: #F8F8F8;
        border: 1px solid black;
    
    }
    
    .block_1120px--apple {
        background-image: url("./image/apple.png");
        border: none;
        background-color: #F8F8F8;
        border: 1px solid black;
    
    }
    
    .block_1120px--viewSonik {
        background-image: url("./image/viewSonic.png");
        border: none;
        background-color: #F8F8F8;
        border: 1px solid black;
    
    }
    
    .block_1120px--bosch {
        background-image: url("./image/bosch.png");
        border: none;
        background-color: #F8F8F8;
        border: 1px solid black;
    }
    
    .block_1120px--hp {
        background-image: url("./image/hp.png");
        border: none;
        background-color: #F8F8F8;
        border: 1px solid black;
    }
    
    .block_1120px--acer {
        background-image: url("./image/acer.png");
        border: none;
        background-color: #F8F8F8;
        border: 1px solid black;
    }
    
    .block_1120px--sony {
        background-image: url("./image/sony.png");
        border: none;
        background-color: #F8F8F8;
        border: 1px solid black;
    }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
 
    .block_1120px {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

    .icon {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
}  
 /* @media screen and (min-width: 1120px) {} */