* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
body {
    font-family: "TT Lakes", "Arial", sans-serif;
    background-color: #EAEAEA;
    
}

.header {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-right: 25px;
        border-top: 2px solid #D9FFF5;
        background: linear-gradient(#F8F8F8 100, #7E7E82 100);
        color: #7E7E82;
        font-size: 16px;
        text-transform: uppercase;
    }

.swiper {
    padding-top: 25px;
    padding-bottom: 35px;
}

.as {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    background-image: url('./image/go.svg');
    margin-left: 180px;
    width: 40px;
    height: 40px;
}

.kart {
    background-repeat: no-repeat;
    background-position: left;
    width: 240px;
    height: 72px;
    border-radius: 5px;
}


.container--lenovo {
    background-image: url("./image/lenovo.png");
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    

}

.container--samsung {
    background-image: url("./image/samsung.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;

}

.container--apple {
    background-image: url("./image/apple.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;

}

.container--viewSonik {
    background-image: url("./image/viewSonic.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;

}

.container--bosch {
    background-image: url("./image/bosch.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.container--hp {
    background-image: url("./image/hp.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.container--acer {
    background-image: url("./image/acer.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

.container--sony {
    background-image: url("./image/sony.png");
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
}

@media (min-width: 320px) and (max-width: 768px) {

.logo {
    color: #7E7E82;
    margin-bottom: 50px;
}

.swiper {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: rgb(0, 0, 0);
}

}

@media screen and (min-width: 768px) and (max-width: 1119px) {
 
    .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

    .swiper-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Расстояние между карточками */
    }

    .swiper-slide {
        flex: 1 1 calc(33.33% - 20px); /* 3 карточки в ряд */
        display: flex;
        justify-content: center;
    }

    .swiper-pagination {
        display: none; /* Скрыть пагинацию */
    }
}  
 /* @media screen and (min-width: 1120px) {} */